<ion-toolbar>
  <ion-buttons fill="clear" color="dark" slot="start" (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-buttons>
  <ion-title>Back</ion-title>
</ion-toolbar>


<ion-content class="main-bg-color">
  <h1 class="font-['Pp_Fragments'] pl-6 text-4xl mt-2 text-gray-700">Events</h1>
  <div class="flex items-center dark:bg-gray-900 font-['Open_Sans']">
    <div class="container max-w-6xl px-5 mx-auto my-6">
      <div class="grid gap-2 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex  items-center justify-between p-5 rounded-lg shadow-sm" *ngFor="let inquiry of inquiries"
          [style.background]="randomBackgroundColor()">
          <div>
            <div class="text-sm text-white ">Event id : {{inquiry.id}}</div>
            <div class="flex items-center pt-1">
              <div class="text-xl font-medium text-white ">
                <h2 class="ellipsis">{{inquiry.brideName}} & {{inquiry.groomName}}</h2>
              </div>
            </div>
          </div>
          <div class="text-gray-300">
            <ion-icon name="chevron-forward-outline" class="text-white"></ion-icon>
          </div>
        </div>

        
      </div>
    </div>
  </div>

</ion-content>