<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="events">
      <ion-icon name="infinite-outline" active-class="text-active-icon" ></ion-icon>
      Events
    </ion-tab-button>
    <ion-tab-button tab="planner">
      <ion-icon name="calendar-outline"></ion-icon>
      Planner
    </ion-tab-button>
    <ion-tab-button tab="vendor">
      <ion-icon name="people-outline"></ion-icon>
      Vendor
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      Account
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>