ion-tab-button {
    font-size: 10px;
    --background-focused: #E79796;
    --color-selected: #E79796;
    --padding-end: 0px;
    --padding-start: 10px;
    --padding-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    max-width: 100px;
}

ion-tabs {
    --ion-background-color:#FAFAFA;
}